<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            
            <div class="navbar-header">
            <!--响应式菜单栏 三条横线-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MyDashboard</a>
            </div>
           
            <div class="collapse navbar-collapse navbar-right">
                
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome! Kai <span class="caret"></span></a>                 
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- 分页 -->
    <div class="container-fluid">
    <!-- 左边栏 -->
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">新闻列表</a>
            </div>
        </div>
        <!-- 右边栏 -->
        <div class="col-sm-9 col-md-10 main">
            <h1 class="page-header">Dashboard Overview</h1>
            <div class="panel panel-default">
                

                <form action="/admin/news/save" id="news_form" method="post" class="form-horizontal" style="width:600px;" onsubmit="return false;">
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">分类</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="type" id="type">
                                <% for(var p in news_type_list){  %>
                                    <% if(news['type'] == p){ %>
                                        <option value="<%= p %>" selected><%= news_type_list[p] %></option>
                                    <% }else{ %>
                                        <option value="<%= p %>"><%= news_type_list[p] %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="title" value="<%= news['title'] %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="content" id="content"><%= news['content'] %></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="image" id="image" value="<%= news['image'] %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="source" class="col-sm-2 control-label">来源</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="source" id="source" value="<%= news['source'] %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publish_time" class="col-sm-2 control-label">发布时间</label>
                        <div class="col-sm-10">
                            <input type="datetime" class="form-control" name="publish_time" id="publish_time" value="<%= news['publish_time'] %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary news_save" value="保存">&nbsp;&nbsp;
                            <input type="submit" class="btn btn-primary news_cancel" value="取消">
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id" value="<%= news['id'] %>">
                </form>


            </div>
        </div>

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <script>
        $(function() {
            $("#publish_time").datetimepicker({autoclose:1});
        });
    </script>
</body>

</html>
